@charset "utf-8";
/* CSS Document */

/*design by wicool*/
/*QQ:2950675830*/
/*common*/
.frame-1 {background-color:transparent !important;background-image:none !important;border:0 none !important;margin:0 !important;padding:0 !important;border-width:0px;height: auto}
.frame-1-c {background-color:transparent !important;background-image:none !important;border:0 none !important;margin:0 !important;padding:0 !important;border-width:0px;height: auto;}
.move-span{background-color:transparent !important;background-image:none !important;border:0 none !important;margin:0 !important;padding:0 !important;border-width:0px;height:auto;}
.move-span .content{background-color:transparent !important;background-image:none !important;border:0 none !important;margin:0 !important;padding:0 !important;border-width:0px;height:auto;}
*{ margin:0; padding:0;}
.clear{ clear:both;}
ul li{ list-style:none;}
a{color: #333;}
a:hover{ text-decoration:none;}
body{ font-family:microsoft yahei;color: #333;background: #F5F5F5;}
img{ border:0;}
.mb5 {margin-bottom: 5px;}
.mb20{ margin-bottom:20px;}	
.mb30{ margin-bottom:30px;}
.mb80{ margin-bottom:80px;}	
.mt80{ margin-top:80px;}
.mt30{ margin-top:30px;}
.mt50{ margin-top:50px;}
.mt25{ margin-top:25px;}
.mt20{ margin-top:20px;}
.mt15{ margin-top:15px;}
.mt10{ margin-top:10px;}
.mt5{ margin-top:5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mr10{ margin-right:10px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.mr15{ margin-right:15px;}
.mr0{ margin-right:0!important;}
.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:15px;}
.pt15{ padding-top:20px;}
.pl10{ padding-left:10px;}
.pl20{ padding-left:20px;}
.pb20{ padding-bottom:20px;}
.pr10{ padding-right:10px;}
.ct2_a .mn{ width:1040px;}
.ct3_a .mn{width: 805px;}
.ct2 .mn{ width:860px;}
.wp{ width:1200px;}


/*template_different*/
#qmenu{width: 140px; height:48px; margin:0; padding:0;line-height: 48px; font-size: 16px; font-weight: normal; background:#2273c4 url({STYLEIMGDIR}/b_arrow.png) 115px 20px no-repeat;  text-align: center; color: #FFF; cursor: pointer;}
   #qmenu span{}
#qmenu.a{ background:#2273c4 url({STYLEIMGDIR}/t_arrow.png)  115px 18px no-repeat;}
	#qmenu.a span{}
#qmenu_menu{-webkit-animation: pop_fadein .5s alternate ease-in-out;
    -moz-animation: pop_fadein .5s alternate linear;
    -ms-animation: pop_fadein .5s alternate linear;
    animation: pop_fadein .5s alternate ease-in-out; margin-top:0;}

/*common breadcrumbs*/
#pt{ margin:0; height:50px; line-height: 50px; color: #6f6f6f; font-size:14px;}
#pt .z a, #pt .z em, #pt .z span,#pt .y{ height:50px!important; line-height:50px!important;}
#pt .z{}
.nvhm{ width:auto; background:none;}
#pt .z em{ text-align:center; font-size:16px;color: #afafaf; background:none;}
#pt.bm{ box-shadow:none;}


/*toptb*/
#toptb { background: #f6f6f6; border-bottom: 1px solid #ebebeb;}




/*header*/
.wic_header{}
	.wic_header_top{ padding: 20px 0;background-color: #fff;}
		.wic_logo{}
		.wic_login{}
	.wic_header_bottom{height: 48px; background-color: #307bc1;}
		.wic_nav{ width:700px; height:48px; overflow:hidden;}
			.wic_nav ul{}
				.wic_nav li{ float:left; line-height: 48px; text-align: center; }
				.wic_nav li:hover {}
					.wic_nav li a{color: #fff; display: block; height: 48px;padding: 0 25px; font-size: 16px;}
					.wic_nav li a:hover{ background-color:#2562ac;text-decoration:none;}
				.wic_nav li.a{}
					.wic_nav li.a a{background-color:#2562ac;}
				.wic_nav li span{ display:none;}
		.wic_search{ border: 2px solid #17b0f8; border-radius: 9px;}
			#scbar{ border:none; background:none; height:42px;}
				.scbar_icon_td{ display:none;}
				.scbar_txt_td{ background:none;}
					#scbar_txt{width: 260px;  height: 32px;  border: none; text-indent:10px; margin-top:5px;}
					.scbar_narrow #scbar_txt{width:260px; }	
				.scbar_type_td{ display:none;}
				.scbar_btn_td{ background:none;}
					#scbar_btn{width: 78px; height: 32px; line-height: 32px; text-align: center; letter-spacing:5px; color: #fff; font-weight: bold;  font-size: 14px; border: none;background: #17b0f8; border-radius: 4px; margin:5px 5px 0 5px; cursor: pointer; font-family:microsoft yahei;}
					#scbar_btn strong{ line-height:32px; padding:0; color:#fff; font-weight:normal;}
				.scbar_hot_td{ display:none;}


/*login*/
#um{ padding-top:0; padding-right:0;}
#um .avt{ margin-right:0;}
#um .avt img{ width:20px; height:20px; margin-top:2px;}
.vwmy{ background-position:left center;}
.qq_bind{ margin-top:5px;}

.qqlogin,.wxlogin{ margin-top:2px;}


/*footer*/
#ft{ padding:0; border:none;}
.wic_footer{ color: #afafaf; padding:10px; font-size:14px; overflow:hidden; line-height:30px; margin-top: 30px; background:#fff;}
	.wic_footer .wp{}
	.wic_footer a{ color:#3f3f3f;}
	.wic_footer strong a{color: #3f3f3f;}
	.wic_footer strong a:hover{ color:#307bc1; text-decoration:none;}

#flk{ max-width:800px;}
					







/*drop-down menu*/
.p_pop,.p_pof,.sllt{padding:5px;border:1px solid;border-color:#eee;background:#fff;}
.p_pop a{border-bottom:none;}
.p_pop a:hover{background-color:#fff;text-decoration:none;}


.p_pop.h_pop{ border:none; padding:0;}
  .p_pop.h_pop a{ line-height: 40px; padding: 0 13px; font-size:16px; background:#fff; color:#333;}
  .p_pop.h_pop a:hover{ background:#307bc1; color:#fff;}	





	
/*mu*/
#mu{}
#mu ul{ background: #fff; -moz-box-shadow: 0 2px 5px #e3e4e5;  -webkit-box-shadow: 0 2px 5px #e3e4e5; box-shadow: 0 2px 5px #e3e4e5;line-height:42px;border-top:none;*border-bottom: 1px solid #e6e6e6; }
#mu ul.floatmu{ width:100%;}
#mu ul li{height: 42px; line-height:42px;}
#mu ul li a{color: #444;display: block;font-size: 14px;height: 42px;line-height: 42px;text-align: center;vertical-align: middle;text-decoration: none;list-style: outside; margin:0; padding:0 20px;}
#mu ul li a:hover{ color:#307bc1; text-decoration:none; border:none; background:none; margin:0; padding:0 20px;}








/*btn*/
.pn,.pnc, a.pnc {color:#fff !important;border-color: #307bc1;background: none;background-color: #307bc1;}

/*app-remind*/
.focus{ background:none;}
	.focus .bm{border: 1px solid #e6e6e6; padding:15px; border: 1px solid #e3e5e8;}
	.focus .bm_h{ background:none; padding:0; border:none;border-bottom: 1px solid #e6e6e6;}
	.focus .bm_h h2{ font-size:14px; border:none;}
	.focus .bm_c{ padding:10px 0 0;}
	
	
.card{ border-color:#ccc;}
.card .o a{ background:#fff; border:1px solid #eee;}
.card_gender_0{ background:#fff;}



	
	

/*scrolltop*/		
#scrolltop{background:none;border:none;margin:0 10px 10px;width:50px;border-radius:0;}
#scrolltop a{width:50px;height:50px;display:block;padding:0; border: 1px #eee solid; margin:10px 0;background:#fff url({STYLEIMGDIR}/scrolltop.png) no-repeat;}
#scrolltop a.replyfast{background-position:0 -49px !important;}
#scrolltop a.returnlist,#scrolltop a.returnboard{background-position:0 -97px !important;}
#scrolltop a.scrolltopa{background-position:2px -5px !important;}
#scrolltop a:hover{background:#307bc1 url({STYLEIMGDIR}/scrolltop.png) no-repeat !important;border-color:#307bc1;}
#scrolltop a.replyfast:hover{background-color:#307bc1 !important;background-position:-56px -50px !important;}
#scrolltop a.scrolltopa:hover{background-color:#307bc1 !important;background-position:-55px -5px !important;}
#scrolltop a.returnlist:hover,#scrolltop a.returnboard:hover{background-color:#307bc1 !important;background-position:-56px -97px !important;}

